@import url('https://fonts.googleapis.com/css?family=Lato:300|Source+Sans+Pro:300');
@import 'struct.styl'
@import 'fonts.styl'


body
	font-family 'Source Sans Pro', sans-serif
	// background-color #2b2d3c


.rw
	margin-top 100px
	text-align center
	
	
.title
	font-family 'Lato', sans-serif
	color #4fbf99
	margin-bottom 10px

.cl-task
	background-color #2f3242
	box-shadow 0 0 20px 0 #272937
	margin 0 auto
	border-radius 5px


.form-inp
	width 85%
	height 35px
	margin 0 auto
	background-color #2f3242
	color #bf1e4e
	
	

.list-task
	position relative
	margin-left 0
	padding-left 0
	
.item-task
	width 55%
	margin-left 20px
	border-radius 8px
	list-style none
	text-align justify
	padding 5px 0 5px 5px
	margin-bottom 15px
	cursor pointer
	transition all .5s
	border-left 3px solid #2b2d3c
	// border-bottom 10px solid #23242f
	background-color #3a3e52

.check-hidden
	display none	

.icons
	margin-right 7px
	font-size 20px
	
.icon-checked
	color #0084b4
	
.icon-unchecked
	color #888
	
.text
	color #888
	font-family 'Source Sans Pro',sans-serif
	font-size 20px
	line-height 18px